<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_home' %}">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Your Courses</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_more_courses' %}">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">More Courses</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_cart' %}">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">My Cart</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'find_art' %}">
        <i class="mdi mdi-image-filter"></i>
        <span class="menu-title">Find the Art</span>
    </a>
</li>

<li class="nav-item menu-items"></li>
    <a class="nav-link" href="{% url 'student_store' %}">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Store</span>
    </a>
</li>
